/*Import link for Bulma.  I added it thinking it was required to be both here and in the HTML.
If I'm wrong, please let me know and delete this line.  Thanks! */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
    
    :root {
    /* Font Type w/ Weights */
    --ff-primary: 'fira-sans', sans-serif, 'wght' 300;
    --ff-secondary: 'fira-sans',sans-serif, 'wght' 500;
    --ff-alt_bold: 'open-sans', sans-serif, 'wght' 800;
    --ff-alt_reg: 'open-sans', sans-serif 'wght' 400;
    
    /* Font Weights */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-bold: 800;
    --fw-light: 300;

    /* Font Style */
    --fs-italic: italic;
    --fs-normal: normal;

    /* Asset Color from Set One */

    --clr-light: #ffffff;
    --clr-dark: #2a2e30;
    --clr-accent: #21577d;

    /* Alternatives For Colors */

    --clr-alt-light: #f2f1ec;
    --clr-alt-dark: #365b6d;
    --clr-alt-accent: #41c1ba;

    /* Font Size */
    --fs-h1: 30px;
    --fs-h2: 27.2px;
    --fs-h3: 24.4px;
    --fs-body: 18px;

}

<<<<<<< HEAD
.section_body-text  {
    font-family: var(--ff-primary);
    font-weight: var(--fw-light);
    color: var(--clr-alt-dark);
    font-size: var(--fs-body);
}

.section_body-container {
    margin-left: auto;
    flex-wrap: wrap;
    
}
=======
/*Main Image*/
#hero-image{
    display: block;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/11/03/04/orlando-981748_1280.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 25px;
    width: 100%;
    height: 800px;
}

/*Currency Converter*/
#currency-converter, #weather{
    padding: 25px;
}
#currencyType, #currencyForm, #dropDown {
    padding: 20px;
    width: 225px;
    margin-bottom: 10px;
}

#currency-converter-h2, #weather-h2{
    font-size: 30px;
}

#currency-converter-p, #weather-p{
    margin: 0 0 15px 0;
}

>>>>>>> 3244b6e92f1bfcb64e617197866f02e0abba099c
